{{define "base"}}<!DOCTYPE html>
<html>
<head>
  <title>Real World PlantUML</title>
  <link rel="icon" type="image/x-icon" href='{{ staticPath .Context "img/favicon.png" }}'>

  <!-- CSS -->
  <link rel="stylesheet" href='{{ staticPath .Context "css/main.css" }}'>
  <link rel="stylesheet" href="https://unpkg.com/material-components-web@0.27.0/dist/material-components-web.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/material-components-web@0.27.0/dist/material-components-web.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-popup-overlay/1.7.9/jquery.popupoverlay.min.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{.GA_TRACKING_ID}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{.GA_TRACKING_ID}}');
  </script>
</head>
<body class="mdc-typography">
<header class="mdc-toolbar mdc-toolbar--fixed">
  <div class="mdc-toolbar__row">
    <span class="mdc-toolbar__title"><a href="/" class="title">Real World PlantUML</a></span>
    <form method="GET" action="/search" class="header__search">
      <input type="text" name="q" placeholder="Search" value="{{ .Query }}">
    </form>
  </div>
</header>

<div class="content mdc-toolbar-fixed-adjust">
  <nav class="mdc-permanent-drawer mdc-typography">
    <div class="mdc-list-group">
      <div class="mdc-list-item">Category</div>
      <hr class="mdc-list-divider">
      <nav id="icon-with-text-demo" class="mdc-list">
        <a class='mdc-list-item {{ if eq .Type "sequence" }}diagram_type__selected{{ end }}' href="/?type=sequence">
          <img class="diagram_type__icon" src='{{ staticPath .Context "img/icons_sequence.png" }}'>
          Sequence
        </a>
        <a class='mdc-list-item {{ if eq .Type "usecase" }}diagram_type__selected{{ end }}' href="/?type=usecase">
          <img class="diagram_type__icon" src='{{ staticPath .Context "img/icons_usecase.png" }}'>
          Usecase
        </a>
        <a class='mdc-list-item {{ if eq .Type "class" }}diagram_type__selected{{ end }}' href="/?type=class">
          <img class="diagram_type__icon" src='{{ staticPath .Context "img/icons_class.png" }}'>
          Class
        </a>
        <a class='mdc-list-item {{ if eq .Type "activity" }}diagram_type__selected{{ end }}' href="/?type=activity">
          <img class="diagram_type__icon" src='{{ staticPath .Context "img/icons_activity.png" }}'>
          Activity
        </a>
        <a class='mdc-list-item {{ if eq .Type "component" }}diagram_type__selected{{ end }}' href="/?type=component">
          <img class="diagram_type__icon" src='{{ staticPath .Context "img/icons_component.png" }}'>
          Component
        </a>
        <a class='mdc-list-item {{ if eq .Type "state" }}diagram_type__selected{{ end }}' href="/?type=state">
          <img class="diagram_type__icon" src='{{ staticPath .Context "img/icons_state.png" }}'>
          State
        </a>
      </nav>
    </div>
  </nav>

  <main>
    <div class="container">
      {{template "content" .}}
    </div>
  </main>

</div>

<footer>
  <div class="footer__contact">
    Created and maintained by <a href="https://yfuruyama.com/" target="_blank">Yuki Furuyama</a>
  </div>
  <!-- <div class="footer__twitter"> -->
    <!-- <a href="https://twitter.com/addsict?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @addsict</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
  <!-- </div> -->
  <div class="footer__license">All umls listed in the site are belong to original authors.</div>
</footer>

</body>
</html>{{end}}
