{{define "base"}}<!DOCTYPE html>
<html>
<head>
  <title>Real World PlantUML</title>

  <meta name="description" content="Real World PlantUML - A showcase of PlantUML snippets in the real world.">
  <meta property="og:description" content="Real World PlantUML - A showcase of PlantUML snippets in the real world.">
  <meta property="og:title" content="Real World PlantUML">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://real-world-plantuml.com/">
  <meta name="format-detection" content="telephone=no">

  <link rel="icon" type="image/x-icon" href='{{ staticPath .Context "img/favicon.ico" }}'>

  <!-- CSS -->
  <link rel="stylesheet" href='{{ staticPath .Context "css/main.css" }}'>

  <!-- JS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-popup-overlay/1.7.9/jquery.popupoverlay.min.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script type="text/javascript" src='{{ staticPath .Context "js/main.js" }}'></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{.GATrackingID}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{.GATrackingID}}');
  </script>
</head>
<body>
<header>
  <div class="header_inner">
    <div class="title">
      <a href="/"><img alt="Real World PlantUML" src='{{ staticPath .Context "img/logo.png" }}' height="14" width="205"></a>
    </div>
    <div class="search_form">
      <form method="GET" action="/search" class="header_search">
        <input type="text" name="q" placeholder="SEARCH" value="{{ .Query }}">
      </form>
    </div>
  </div>
</header>

<div class="content-holder">
  <div class="content">
    <nav class="category-list">
      <ul>
        <li>
          <a class='category-link' href="/?type=sequence">
            <div class='category {{ if eq .DiagramType "sequence" }}category--selected{{ end }}'>
              <img class="category__icon" src='{{ staticPath .Context "img/icon_sequence.svg" }}'>
              <div class="category__name">SEQUENCE</div>
            </div>
          </a>
        </li>
        <li>
          <a class='category-link' href="/?type=usecase">
            <div class='category {{ if eq .DiagramType "usecase" }}category--selected{{ end }}'>
              <img class="category__icon" src='{{ staticPath .Context "img/icon_usecase.svg" }}'>
              <div class="category__name">USECASE</div>
            </div>
          </a>
        </li>
          <a class='category-link' href="/?type=class">
            <div class='category {{ if eq .DiagramType "class" }}category--selected{{ end }}'>
              <img class="category__icon" src='{{ staticPath .Context "img/icon_class.svg" }}'>
              <div class="category__name">CLASS</div>
            </div>
          </a>
        <li>
          <a class='category-link' href="/?type=activity">
            <div class='category {{ if eq .DiagramType "activity" }}category--selected{{ end }}'>
              <img class="category__icon" src='{{ staticPath .Context "img/icon_activity.svg" }}'>
              <div class="category__name">ACTIVITY</div>
            </div>
          </a>
        </li>
        <li>
          <a class='category-link' href="/?type=component">
            <div class='category {{ if eq .DiagramType "component" }}category--selected{{ end }}'>
              <img class="category__icon" src='{{ staticPath .Context "img/icon_component.svg" }}'>
              <div class="category__name">COMPONENT</div>
            </div>
          </a>
        </li>
        <li>
          <a class='category-link' href="/?type=state">
            <div class='category {{ if eq .DiagramType "state" }}category--selected{{ end }}'>
              <img class="category__icon" src='{{ staticPath .Context "img/icon_state.svg" }}'>
              <div class="category__name">STATE</div>
            </div>
          </a>
        </li>
      </ul>
    </nav>

    <main>
      <div class="container">
        {{template "content" .}}
      </div>
    </main>

  </div>
</div>

<footer>
  <div class="footer__contact">
    Created and maintained by <a href="https://twitter.com/addsict" target="_blank">Yuki Furuyama</a>
    <span class="footer__contact__github">
      <a class="github-button" href="https://github.com/addsict/real-world-plantuml" data-show-count="true" aria-label="Star addsict/real-world-plantuml on GitHub">Star</a>
    </span>
  </div>
  <div class="footer__license">All umls listed in the site are belong to original authors.</div>
</footer>

</body>
</html>{{end}}
