{{define "content"}}
<ul>
{{ range $i, $uml := .Umls }}
  <li>
    <div class="uml">
      <div class="uml__svg">
        <!-- <a href="/umls/{{ $uml.ID }}"> -->
          <svg viewBox="{{ $uml.SvgViewBox }}" width="100%" height="100%">{{ $uml.Svg | safehtml }}</svg>
        <!-- </a> -->
      </div>
      <div class="uml__source">
        <div class="uml__source__header">
          <div class="uml__source__header__ref"><a href="{{ $uml.GitHubUrl }}" target="_blank">{{ $uml.GitHubUrl | githubUrlToAnchorText }}</a></div>
          <button class="uml__source__header__copy" data-clipboard-text="{{ $uml.Source }}">Copy</button>
        </div>
        <pre class="uml__source__content">{{ $uml.Source }}<span class="uml__source__content__line_numbers">{{ range loopLineTimes $uml.Source }}<span></span>{{ end }}</span></pre>
      </div>
    </div>
  </li>
{{ end }}
</ul>

{{ if .NextCursor }}
<div><a href="/?cursor={{ .NextCursor }}{{ if .Type }}&type={{ .Type }}{{ end }}">Next</a></div>
{{ end }}

<script>
  var clipboard = new Clipboard('.uml__source__header__copy');
  clipboard.on('success', function(e) {
    var orig = e.trigger.innerText;
    e.trigger.innerText = "Copied!";
    setTimeout(function() {
      e.trigger.innerText = orig;
    }, 1000);
  });
</script>
{{ end }}
