html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
  background-color: #f4f5f6;
  font-family: "Avenir Next", Verdana, Meiryo, Osaka, sans-serif;
  font-weight: 500;
}

header {
  height: 84px;
  margin: 0 auto;
  position: relative;
}

.header_inner {
  position: relative;
  float: left;
  clear: both;
  margin: 0 auto;
  padding: 24px 0;
  width: 944px;
}

.title {
  float: left;
  color: #822156;
  height: 14px;
  width: 205px;
  padding-top: 14px;
}

.search_form {
  display: block;
  float: right;
}
.header_search {
  text-align: right;
    color: #989292;
}
.header_search>input {
  border-radius: 20px;
  border: none;
  height: 36px;
  padding: 0 0 0 20px;
  width: 300px;
  color: #989292;
  font-size: 13px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #989292;
  font-family: "Avenir Next", Verdana, Meiryo, Osaka, sans-serif;

}

::-moz-placeholder { /* Firefox 19+ */
  color: #989292;
  font-family: "Avenir Next", Verdana, Meiryo, Osaka, sans-serif;
}

input[type="text"]:focus {
  outline: 0;
}

.content-holder {
  padding-bottom: 64px;
}

.content {
  display: flex;
  /*flex: 1 1 auto;*/
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  width: 944px;
}

.category-list>ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.category-link {
  text-decoration: none;
}
.category {
  background-color: #fff;
  border-radius: 30px;
  border: 2px solid #fff;
  width: 200px;
  height: 44px;
  color: #989292;
  margin: 12px 0;
  display: block;
}

.category:first-child {
  margin-top: 0;
}

.category__icon {
  display: inline-block;
  height: auto;
  width: 24px;
  vertical-align: middle;
  padding-left: 32px;
}

.category__name {
  font-size: 14px;
  line-height: 44px;
  height: 44px;
  display: inline-block;
  padding-left: 10px;
}
.category--selected {
  border: 2px solid #822156;
  color: #822156;
}
.category:hover {
  border: 2px solid #822156;
  color: #822156;
}

main {
  width: 100%;
}

.container {
  margin: 0 0 0 40px;
}

.uml-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, 340px);
}

.uml {
  background: #FFFFFF;
  box-shadow: 0 6px 5px 2px rgba(0,0,0,0.04);
  border-radius: 8px;
}

.uml__svg {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  width: 320px;
  cursor: pointer;
}
.uml__svg__wrapper {
  width: 320px;
  height: 320px;
}
.uml__svg--raw {
  display: inline-block;
  border: solid 1px #aaa;
  padding: 10px;
  vertical-align: top;
}

/*********
 * modal *
 *********/
.uml__modal__container {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  padding: 30px;
}
.uml__modal__header {
}
.uml__modal__header__category {
  font-size: 14px;
  color: #950029;
}
.uml__modal__header__id {
  color: #999;
  font-size: 12px;
}
.uml__modal__body {
  display: grid;
  grid-gap: 10px;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: auto 530px;
}
.uml__modal__body__svg {
  padding: 20px;
  background-color: #fff;
}
.uml__modal__body__source {
  display: inline-block;
  margin: 0 0 0 20px;
  width: 500px;
}
.uml__modal__body__source__header {
  position: relative;
  height: 40px;
  padding: 0 20px;
  font-size: 14px;
  background-color: #bcb7b7;
}
.uml__modal__body__source__header__octocat {
  width: 20px;
  padding-top: 9px;
}
.uml__modal__body__source__header__ref {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 8px;
}
.uml__modal__body__source__header__ref>a {
  color: #2D2525;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
.uml__modal__body__source__header__copy {
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: #C9C3C3;
  color: #2D2525;
  font-weight: 500;
  border: 2px solid #fff;
  border-radius: 100px;
  padding: 4px 12px;
  height: 25px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  box-shadow: 0 2px 9px 0 rgba(0,0,0,0.26);
}

.uml__modal__body__source__content {
  position: relative;
  font-size: 12px;
  font-weight: 100;
  color: #675A5A;
  padding: 10px 20px 20px 40px;
  height: 410px;
  margin: 0;
  white-space: pre;
  overflow: auto;
  background-color: #efefef;
}

.uml_modal_body_source_container {

}

/* cf. https://qiita.com/Ria0130/items/b49b13e4ff935993c813 */
.uml__modal__body__source__content__line_numbers {
  display: block;
  position: absolute;
  pointer-events: none;
  top: 10px;
  left: -20px;
  width: 50px;
  font-size: 100%;
  letter-spacing: -1px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.uml__modal__body__source__content__line_numbers>span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}
.uml__modal__body__source__content__line_numbers>span:before {
  content: counter(linenumber);
  color: #aaa;
  display: block;
  padding-right: .8em;
  text-align: right;
}

.uml__category {
  margin: 14px 0 0 0;
  font-size: 14px;
  color: #950029;
}
.uml__id {
  color: #8B8B8B;
  font-size: 12px;
  padding-top: 4px;
}

.next_link {
  margin: 40px 0 30px 0;
  width: 100px;
}
.next_link>a {
  color: #950029;
}

/**********
 * footer *
 **********/
footer {
  height: 45px;
  background-color: #989292;
  color: #fff;
  text-align: center;
  padding: 5px 0 5px 0;
  font-size: 14px;
  width: 100%;
  bottom: 0;
  position: absolute;
}
.footer__contact {
}
.footer__contact a {
  color: #fff;
  text-decoration: none;
}
.footer__contact__github {
  vertical-align: text-top;
}
.footer__license {
  font-style: italic;
}

.error {
  margin: 20px 0 0 10px;
}
