/* Ensure layout covers the entire screen. */
html {
  height: 100%;
}

/* Stack toolbar and content on top of each other. */
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* height: 100% */
}

.title {
  text-decoration: inherit;
  color: inherit;
}

.header__search {
  position: fixed;
  left: 50%;
  margin-left: -200px;
}
.header__search>input {
  border-radius: 3px;
  border: none;
  background-color: #303AA5;
  height: 30px;
  padding: 0 0 0 10px;
  width: 400px;
  color: #fff;
}

/* Place drawer and main next to each other. */
.content {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  box-sizing: border-box;
}

main {
  padding-left: 16px;
  width: 100%;
  /* height: 100%; */
  /* overflow: auto; */
}

.diagram_type__selected {
  background-color: #ededed;
}
.diagram_type__icon {
  width: 40px;
  margin: 0 10px 0 0;
}

.uml {
  margin: 10px 0 20px 0;
}
.uml__svg {
  display: inline-block;
  border: solid 1px #aaa;
  padding: 10px;
  vertical-align: top;
  width: 30%;
}
.uml__svg--raw {
  display: inline-block;
  border: solid 1px #aaa;
  padding: 10px;
  vertical-align: top;
}
.uml__source {
  display: inline-block;
  margin: 0 0 10px 20px;
  width: 45%;
  border: 1px solid #999;
}
.uml__source__header {
  position: relative;
  height: 25px;
  padding: 5px 0 5px 10px;
  background-color: #efefef;
  border-bottom: 1px solid #999;
}
.uml__source__header__ref a {
  color: #555;
  text-decoration: none;
}
.uml__source__header__copy {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #888;
  color: #fff;
  border-left: 1px solid #999;
  border-bottom: none;
  border-top: none;
  border-right: none;
  padding: 2px 10px 4px 10px;
  height: 100%;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.uml__source__content {
  position: relative;
  /* background-color: #efefef; */
  color: #333;
  padding: 5px 10px 10px 30px;
  margin: 0 0 0 0;
  /* white-space: pre-wrap; */
  white-space: pre;
  overflow-x: auto;
}
/* cf. https://qiita.com/Ria0130/items/b49b13e4ff935993c813 */
.uml__source__content__line_numbers {
  display: block;
  position: absolute;
  pointer-events: none;
  top: 5px;
  font-size: 100%;
  left: -20px;
  width: 50px;
  letter-spacing: -1px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.uml__source__content__line_numbers>span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}
.uml__source__content__line_numbers>span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: .8em;
  text-align: right;
}

ul {
	list-style: none;
}

li:nth-child(2n+1) {
	/* background-color: #fafafa; */
}

footer {
  height: 40px;
  background-color: #3f51b5;
  color: #fff;
  text-align: center;
  padding: 5px 0 5px 10px;
  font-size: 14px;
}
.footer__contact {
}
.footer__contact a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.footer__twitter {
  /* padding: 15px 0 0 10px; */
}
.footer__license {
  font-style: italic;
}

.error {
  margin: 20px 0 0 10px;
}
