html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
  background-color: #f4f5f6;
  padding: 20px 30px 20px 30px;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  height: 100px;
}

.title {
  color: #822156;
  display: inline-block;
}

.header__search {
  text-align: right;
}
.header__search>input {
  border-radius: 20px;
  border: none;
  height: 30px;
  padding: 0 0 0 20px;
  width: 300px;
  color: #888;
  font-size: 13px;
}

.content {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  box-sizing: border-box;
}

.category-list>ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.category-link {
  text-decoration: none;
}
.category {
  background-color: #fff;
  border-radius: 30px;
  border: none;
  width: 200px;
  height: 50px;
  margin: 0 0 10px 0;
  padding: 5px 0 0 20px;
  color: #888;
}
.category__icon {
  display: inline-block;
}
.category__name {
  font-size: 14px;
  height: 40px;
  display: inline-block;
  margin: 0 0 0 15px;
}
.category--selected {
  border: 1px solid #822156;
  color: #822156;
}
.category:hover {
  border: 1px solid #822156;
  color: #822156;
}

main {
  width: 100%;
}

.container {
  margin: 0 0 0 40px;
}

.uml-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, 320px);
}
.uml-item {
}

.uml {
  background-color: #fff;
  box-shadow: 2px 2px 5px #ddd;
  border-radius: 5px;
}
.uml__svg {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  width: 300px;
  cursor: pointer;
}
.uml__svg__wrapper {
  width: 300px;
  height: 300px;
}
.uml__svg--raw {
  display: inline-block;
  border: solid 1px #aaa;
  padding: 10px;
  vertical-align: top;
}

/*********
 * modal *
 *********/
.uml__modal__container {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  padding: 30px;
}
.uml__modal__header {
}
.uml__modal__header__category {
  font-size: 14px;
  color: #950029;
}
.uml__modal__header__id {
  color: #999;
  font-size: 12px;
}
.uml__modal__body {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}
.uml__modal__body__svg {
  padding: 20px;
  background-color: #fff;
  display: inline-box;
}
.uml__modal__body__source {
  display: inline-block;
  margin: 0 0 0 20px;
  width: 500px;
}
.uml__modal__body__source__header {
  position: relative;
  height: 20px;
  padding: 5px 0 5px 10px;
  font-size: 14px;
  background-color: #bcb7b7;
}
.uml__modal__body__source__header__octocat {
  width: 20px;
}
.uml__modal__body__source__header__ref {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 5px;
}
.uml__modal__body__source__header__ref>a {
  color: #555;
  text-decoration: none;
}
.uml__modal__body__source__header__copy {
  position: absolute;
  top: 2px;
  right: 5px;
  background-color: #bcb7b7;
  color: #333;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 2px 10px 4px 10px;
  height: 25px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.uml__modal__body__source__content {
  position: relative;
  font-size: 12px;
  color: #8d8888;
  padding: 5px 10px 10px 30px;
  margin: 0 0 0 0;
  white-space: pre;
  overflow: auto;
  background-color: #efefef;
}
/* cf. https://qiita.com/Ria0130/items/b49b13e4ff935993c813 */
.uml__modal__body__source__content__line_numbers {
  display: block;
  position: absolute;
  pointer-events: none;
  top: 5px;
  font-size: 100%;
  left: -20px;
  width: 50px;
  letter-spacing: -1px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.uml__modal__body__source__content__line_numbers>span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}
.uml__modal__body__source__content__line_numbers>span:before {
  content: counter(linenumber);
  color: #aaa;
  display: block;
  padding-right: .8em;
  text-align: right;
}

.uml__category {
  margin: 5px 0 0 0;
  font-size: 14px;
  color: #950029;
}
.uml__id {
  color: #999;
  font-size: 12px;
}

/**********
 * footer *
 **********/
footer {
  height: 45px;
  background-color: #aaa;
  color: #fff;
  text-align: center;
  padding: 5px 0 5px 0;
  font-size: 14px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.footer__contact {
}
.footer__contact a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.footer__contact__github {
  vertical-align: text-top;
}
.footer__license {
  font-style: italic;
}

.error {
  margin: 20px 0 0 10px;
}
