{{define "uml_list"}}

<div class="uml-list">
{{range .Umls}}
  <div class="uml-item">
    <div class="uml" data-uml-id="{{ .ID }}" data-uml-diagram-type="{{ .DiagramType }}">
      <div class="uml__svg uml__modal__{{.ID}}_open">
        <svg viewBox="{{ .SvgViewBox }}" class="uml__svg__wrapper">{{ .Svg | safehtml }}</svg>
      </div>
      <div id="uml__modal__{{.ID}}" style="display:none">
        <div class="uml__modal__container">
          <div class="uml__modal__header">
            <div class="uml__modal__header__category">{{ .DiagramType.ToHumanString | toUpperCase }} DIAGRAM</div>
            <div class="uml__modal__header__id">{{ .ID }}</div>
          </div>
          <div class="uml__modal__body">
            <div class="uml__modal__body__svg">{{ .Svg | safehtml }}</div>
            <div class="uml__modal__body__source">
              <div class="uml__modal__body__source__header">
                <img class="uml__modal__body__source__header__octocat" src="/static/img/github_octocat.png">
                <div class="uml__modal__body__source__header__ref"><a href="{{ .GitHubUrl }}" target="_blank">{{ .GitHubUrl | githubUrlToAnchorText }}</a></div>
                <button class="uml__modal__body__source__header__copy" data-clipboard-text="{{ .Source }}">COPY</button>
              </div>
              <pre class="uml__modal__body__source__content">{{ .Source | html | highlight .HighlightWord }}<span class="uml__modal__body__source__content__line_numbers">{{ range loopLineTimes .Source }}<span></span>{{ end }}</span></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="uml__category">{{ .DiagramType.ToHumanString | toUpperCase }} DIAGRAM</div>
    <div class="uml__id">{{ .ID }}</div>
  </div>
{{end}}
</div>

{{end}}
